---
interface Props {
  id: number;
  title: string;
  img: string;
}

const { id, img, title } = Astro.props;
---

<a
  class="relative z-30 cursor-pointer overflow-hidden rounded-lg"
  href={`/portfolio/${id}`}
>
  <div
    class="relative z-10 flex h-[100%] w-[100%] transition-transform duration-300 hover:scale-[1.04]"
  >
    <div
      class="absolute flex h-[100%] w-[100%] items-center justify-center bg-gray-900 opacity-0 transition-all duration-500 hover:opacity-80"
    >
      <span class="text-xl font-extrabold">{title}</span>
    </div>
    <img
      transition:name={`image${id}`}
      class="h-[100%] w-[100%] object-cover transition-transform duration-500 hover:scale-[1.05]"
      src={img}
      alt={title}
    />
  </div>
</a>
